<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout::layout(~{::title}, ~{::#main}, ~{::#jquery})}">

<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
</head>

<body>
    <div id="main">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header d-flex">
                <div class="col-md-9">
                    <h3 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h3>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success" id="addProduct">Thêm sản phẩm</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Giá</th>
                                <th>Thể loại</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr style="display: none">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Form add product-->
        <div id="addUserPanel" class="hidden">
            <div class="panel-content">
                <span id="closePanelBtn">&times;</span>
                <div class="form-title create">Thêm Sản phẩm</div>
                <div class="form-title update">Cập nhật Sản phẩm</div>
                <div class="d-flex justify-content-center">
                    <div class="col-lg-12">
                        <form role="form" method="post" id="form_create_update" enctype="multipart/form-data">
                            <div class="panel-body row">
                                <div class="col-md-6">

                                    <input type="hidden" name="id" id="id" readonly="readonly"
                                        style="width: 100%; height: auto;">

                                    <label for="name" class="col-md-4">Tên sản phẩm: </label>
                                    <input type="text" name="name" id="name" placeholder="Tên sản phẩm"
                                        class="col-md-6" style="width: 100%; height: auto;">
                                    <br><br>
                                    <label for="price" class="col-md-4">Giá tiền: </label>
                                    <input type="number" name="price" id="price" min="0" style="width: 100%;"
                                        placeholder="Giá tiền" class="col-md-6">
                                    <br><br>

                                    <label for="img" class="col-md-4">Chọn hình: </label>
                                    <input type="file" name="image" id="img" style="width: 100%;" class="col-md-6">

                                    <div class="images ms-5" id="chon-anh">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="description" class="col-md-4">Mô tả: </label>
                                    <textarea rows="4" cols="12" class="col-md-6" name="description"
                                              id="description" style="width: 100%;"></textarea>
                                    <br><br>

                                    <label class="col-md-4">Loại sản phẩm</label>
                                    <select class=" col-md-6" id="categories">
                                        <option value="1">Nước uống</option>
                                        <option value="2">Trái cây</option>
                                        <option value="3">Đồ ăn vặt</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="submit" class="btn btn-success create" id="create"
                                    onclick="create_updateProduct('/honeyshop/api/products','POST', 'Thêm')">
                                    Thêm mới</button>
                                <button type="submit" class="btn btn-success update" id="update"
                                        onclick="create_updateProduct('/honeyshop/api/products','PUT', 'Cập nhât')">
                                        Cập nhật</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Form add user-->
        </div>
    </div>

    <div id="jquery">
        <script>
            let productsApiUrl = "/honeyshop/api/products";

            let urls;
            let methods;
            let messages;

            $(document).ready(function () {
                loadData();

                $("#addProduct").on("click", function(){
                    $(".create").show();
                    $(".update").hide();
                    $('#chon-anh').html('');

                    urls = productsApiUrl;
                    methods = 'POST';
                    messages = "Thêm";

                    localStorage.clear();

                    $("#addUserPanel").fadeIn();
                });
                // create_updateProduct(urls, methods, messages);
            })

            // Định dạng tiền tệ
            function formatCurrencyVND(amount) {
                return new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(amount);
            }

            // Load dât
            function loadData() {
                $.ajax({
                    url: productsApiUrl,
                    method: "GET",
                    contentType: "application/json",
                    dataType: "json",
                    // headers: {
                    //     'Authorization': 'Bearer ' + getToken()
                    // },
                    success: function (response) {
                        let products = response.data; // Lấy danh sách data
                        let row = '';
                        if (Array.isArray(products)) {
                            products.forEach(function (product, index) {
                                row += `
                                <tr id = 'row_${product.id}' class="odd">
                                    <td class="sorting_1">${index + 1}</td>
                                    <td>${product.name}</td>
                                    <td>
                                        <img src = "/honeyshop/images/${product.thumbnail}" alt="Hình ảnh"
                                        style="width: 50px; height: 50px">
                                    </td>
                                    <td>
                                        ${formatCurrencyVND(product.price)}
                                    </td>
                                    <td>${product.categories.name}</td>
                                    <td style="text-align: center">
                                        <button
                                                type="button"
                                                class="btn btn-info"
                                            onclick='updateProduct("${product.id}")'>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button
                                                type="button"
                                                class="btn btn-danger"
                                            onclick='removeProduct("${product.id}")'>
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                    `;
                                $("tbody").html(row);
                            })
                        } else {
                            console.error("Expected an array but got:", typeof products);
                            alert('The response is not an array.');
                        }
                    },
                    error: function (e) {
                        console.log("Error: ", e);
                    }
                })
            }

            // create update product
            function create_updateProduct(urls, methods, messages) {
                // Gỡ bỏ các sự kiện submit đã gán trước đó
                $("#form_create_update").off('submit');

                $("#form_create_update").submit((event) => {
                    event.preventDefault();
                    let id = localStorage.getItem("id");
                    if(id)
                        urls += "/" + id;

                    let formData = new FormData();

                    let product = {
                        name: $("#name").val(),
                        price: $("#price").val(),
                        categories: $("#categories").val(),
                        description: $("#description").val(),
                    }

                    // Append user data as a json string
                    formData.append('data', new Blob([JSON.stringify(product)], {type: 'application/json'}));

                    // Append the file
                    let fileInput = document.getElementById('img');
                    if (fileInput.files.length > 0)
                        formData.append('img', fileInput.files[0]);

                    $.ajax({
                        url: urls,
                        method: methods,
                        data: formData,
                        processData: false, // Prevent jQuery from automatically transforming the data into a query string
                        contentType: false, // Setting contentType to false is important for file upload
                        // headers: {
                        //     'Authorization': 'Bearer ' + token
                        // },
                        success: function (response) {
                            console.log(response)
                            if (response.code === 1000) {
                                swal(messages + " sản phẩm thành công", "", "success");
                                $("#form_create_update")[0].reset();
                                $('#chon-anh').html('');
                                loadData();
                            } else {
                                swal(messages + " sản phẩm thất bại", response.messages, "error");
                            }
                        },
                        error: function (e) {
                            swal(messages + " sản phẩm thất bại", "", "error");
                            console.log("error: ", e);
                        }
                    })
                })
            }

            function updateProduct(id) {
                $("#addUserPanel").fadeIn(); // Show the panel

                localStorage.setItem("id", id);

                $(".create").hide();
                $(".update").show();

                urls = productsApiUrl + "/" + id;
                methods = 'PUT';
                messages = "Cập nhật";

                    $.ajax({
                        url: productsApiUrl + "/" + id,
                        type: 'GET',
                        dataType: "json",
                        // headers: {
                        //     'Authorization': 'Bearer ' + token
                        // },
                        success: function (response) {
                            let product = response.data;
                            $('#name').val(product.name);
                            $('#description').val(product.description);
                            $('#price').val(product.price);
                            $('#categories').val(product.categories.id);

                            // Hiển thị hình ảnh nếu có
                            if (product.thumbnail) {
                                $('#chon-anh').html('<img src="/honeyshop/images/' + product.thumbnail + '" alt="Product Image" style="width: 100%; height: 100%">');
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('Failed to load product: ' + error);
                        }
                    });
            }

            function removeProduct(id) {
                swal({
                    title: "Bạn có chắc muốn xóa không?",
                    text: "",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: productsApiUrl + "/" + id,
                            method: "DELETE",
                            contentType: "application/json",
                            dataType: "json",
                            // headers: {
                            //     'Authorization': 'Bearer ' + getToken()
                            // },
                            success: function () {
                                $("#row_" + id).remove();
                                swal("Xóa sản phẩm thành công!", {
                                    icon: "success",
                                });
                            },
                            error: function () {
                                swal("Xóa sản phẩm thất bại!", {
                                    icon: "error",
                                });
                            }
                        });
                    }
                });
            }
        </script>
    </div>
</body>

</html>